<div class="headerContainer"></div>
    <h1 class="logo">Bean and Brew</h1>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
        </ul>
        <button class="hamburger" aria-label="Toggle navigation" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
       
    </nav>
</div>

